@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', cursive;

  height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.main-conainter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

img {
  height: 30vh;
  width: 30vw;
  object-fit: cover;
  border-radius: 20px;
  margin: 2rem;
  /* align-self: flex-start; */
}

.img_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.container {
  margin: 2rem;
  padding: 2rem;
}
